.vscode/
runs/
*.pt

# Created by https://www.toptal.com/developers/gitignore/api/video
# Edit at https://www.toptal.com/developers/gitignore?templates=video

### Video ###
*.3g2
*.3gp
*.asf
*.asx
*.avi
*.flv
*.mkv
*.mov
*.mp4
*.mpg
*.ogv
*.rm
*.swf
*.vob
*.wmv
*.webm

# End of https://www.toptal.com/developers/gitignore/api/video
